.textarea {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0px 10px;
  border: 3.5px solid var(--secondary-color);
  transition: 0.1s ease;
  background: var(--secondary-background-color);

  &:hover {
    border: 3.5px solid var(--tertiary-color);
  }

  textarea {
    width: 100%;
    min-height: 100px;
    max-width: 150px;
    background: transparent;
    border: none;
    font-family: var(--roboto), sans-serif;
    font-weight: 600;
    color: var(--text-color);
    resize: none;
  }
}
