.primaryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 75px;
  padding-top: 10;
  min-width: 150px;
  max-width: 700px;
  border-radius: 10px;
  background-color: #e77b4c;
  color: var(--text-white);
  font-family: var(--shuriken), sans-serif;
  border: 2px solid #ffffff;
  font-size: 2rem;
  user-select: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: #e77b4ccc;
  }
}

.activePrimaryButton {
  background-color: #e6d64a;
  border: 2px solid #e6d64a;

  &:hover {
    background-color: #e6d64a;
  } 
  cursor: default;
}

.secondaryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 75px;
  padding-top: 10;
  min-width: 150px;
  max-width: 700px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: var(--text-white);
  font-family: var(--shuriken), sans-serif;
  border: 2px solid #ffffff;
  font-size: 2rem;
  user-select: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: #1e466acc;
  }
}

.activeSecondaryButton {
  background-color: #2F3542;
  border: 2px solid #2F3542;
  pointer-events: none;

  &:hover {
    background-color: #2F3542;
  } 
  cursor: default;
}

.box {
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  gap: 10px;
  background-color: #1e1e1e; /*cor para deixar os botões visíveis*/
}
