.body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  font-family: var(--shuriken);
}

.profisoria {
  width: 50px;
  height: auto;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;

  & p {
    padding: 10px;
    background-color: var(--secondary-color);
    margin-bottom: 5px;
    border-radius: 50%;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
  }

  & span {
    padding: 10px;
    background-color: var(--secondary-color);
    margin-bottom: 5px;
    border-radius: 50%;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
  }
}

.logo_place {
  width: auto;
  min-height: 50px;
  max-height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.white_box {
  width: 100%;
  height: 100%;
}

.container {
  width: auto;
  height: auto;
  padding: 0px 60px;
}

.profile_box {
  display: flex;
  padding: 10px 30px;
  background-color: var(--foreground-color);
  border-radius: 10px;
  justify-content: space-around;
}

.left {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;

  & img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
}

.textinputs {
  padding-top: 10px;
  padding-bottom: 100px;
  padding-right: 10px;
  display: grid;
  gap: 10px;
  color: var(--primary-color);
}

.inputs {
  width: 300px;
}

.mid {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & hr {
    padding: 0;
    margin: 0;
    width: 1px;
    border: none;
    border-radius: 20px;
    height: 100%;
    background-color: var(--secondary-color);
  }

  & .shuriken_icon {
    padding: 0;
    margin: 0;
    height: 40px;
    transform: rotate(30deg)
  }
}

.right {
  padding: 20px 10px;
  color: var(--primary-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right .buttons {
  display: flex;
  justify-content: space-around;
}

.box {
  display: flex;
  height: 50px;
}