.boxTitle {
      display: flex;
      align-items: center;

      gap: 12px;
      font-family: var(--shuriken);
      font-weight: bold;
      font-size: 2.4rem;
    }

    .logoImage{
      height: 3.0rem;
      width: auto;
    }

    .dev {
      color: #e5733b; 
    }

    .chat {
      color: #16385f;
    }