.icon{
    aspect-ratio: 1/1;
    width: 100%;
    height: 120%;
}

.button{
    background: none;
    border: none;
    aspect-ratio: 1/1;
    width: 100%;
    display: flex;
    align-items: center;
}

.button:hover{
    opacity: 0.7;
}

.buttonClicked{
    background: none;
    border: none;
    aspect-ratio: 1/1;
    width: 100%;
    background-color: #DED33DB2;
    border-radius: 50%;
}

.reactIcon{
    aspect-ratio: 1/1;
    width: 100%;
    height: 60%;
    color: var(--secondary-color);
}